<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page5</key>
		<dict>
			<key>CreationDate</key>
			<date>2013-04-19T11:10:38Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>BFE805F6-415B-4C09-BD81-96CE7C93346F</string>
			<key>PageDigests</key>
			<dict>
				<key>files/page5-1000-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					K7FvPeaeAg6G+H8EKk1gRg==
					</data>
					<key>Size</key>
					<integer>1265</integer>
				</dict>
				<key>files/page5-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Ih/EwGD7Q8mdN8lD1wI/RQ==
					</data>
					<key>Size</key>
					<integer>54294</integer>
				</dict>
				<key>files/page5-1000-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					NFdqgMEKOLhtwUsRkM57ZA==
					</data>
					<key>Size</key>
					<integer>7912</integer>
				</dict>
				<key>files/page5-1001-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					IbrUr+rHnkmRIA1ijd3srg==
					</data>
					<key>Size</key>
					<integer>1311</integer>
				</dict>
				<key>files/page5-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					2znMHbKp1piZ8l+7LDYUSA==
					</data>
					<key>Size</key>
					<integer>38099</integer>
				</dict>
				<key>files/page5-1001-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					K/En8rH7/vrkA+3pBN9f+g==
					</data>
					<key>Size</key>
					<integer>5470</integer>
				</dict>
				<key>files/page5-1002-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					2+faVDJMArqyzVsXIWNCXA==
					</data>
					<key>Size</key>
					<integer>1311</integer>
				</dict>
				<key>files/page5-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					0kFlQXDySEBwSVpLPPEysg==
					</data>
					<key>Size</key>
					<integer>40208</integer>
				</dict>
				<key>files/page5-1002-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					dqFosgk4WWT74TQfGDlsfQ==
					</data>
					<key>Size</key>
					<integer>5212</integer>
				</dict>
				<key>files/page5-1003-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					YggJH5y9/PRD7rilwFsn+A==
					</data>
					<key>Size</key>
					<integer>1311</integer>
				</dict>
				<key>files/page5-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					AqzwZZMnKoDZpwoPGzMKCA==
					</data>
					<key>Size</key>
					<integer>35094</integer>
				</dict>
				<key>files/page5-1003-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					rJ6Q7gnHup1m+eoLKIoLqQ==
					</data>
					<key>Size</key>
					<integer>4874</integer>
				</dict>
				<key>files/page5-1004-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					nP0k684CIh4Xd9fIo+c0Sw==
					</data>
					<key>Size</key>
					<integer>1311</integer>
				</dict>
				<key>files/page5-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					dtRnZ8B0Obzt/WFLJSnVQg==
					</data>
					<key>Size</key>
					<integer>61677</integer>
				</dict>
				<key>files/page5-1004-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					BOfbmBJbb0vtu3gqCiOjoA==
					</data>
					<key>Size</key>
					<integer>8996</integer>
				</dict>
				<key>files/page5-1005-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					2lG7QmcQeWx3szM+xG3ohA==
					</data>
					<key>Size</key>
					<integer>1311</integer>
				</dict>
				<key>files/page5-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					X3kR79zVAIlCoucdfB/FVg==
					</data>
					<key>Size</key>
					<integer>38941</integer>
				</dict>
				<key>files/page5-1005-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					vhUMg5lIeDyLx0VYrkWrhg==
					</data>
					<key>Size</key>
					<integer>5488</integer>
				</dict>
				<key>files/page5-1006-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					3aDkRZBEZDnzGl81a5NL+w==
					</data>
					<key>Size</key>
					<integer>1311</integer>
				</dict>
				<key>files/page5-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					PQiwN4X6r9iR2mT4AlsSCw==
					</data>
					<key>Size</key>
					<integer>54090</integer>
				</dict>
				<key>files/page5-1006-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					nlYge/O2mwAgh8D3V90lbw==
					</data>
					<key>Size</key>
					<integer>7640</integer>
				</dict>
				<key>files/page5-1007-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					El3m6HXXg3Wp6TOtZ1RxKA==
					</data>
					<key>Size</key>
					<integer>1311</integer>
				</dict>
				<key>files/page5-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					SzFBoAK8chuLctosE+a1Rg==
					</data>
					<key>Size</key>
					<integer>41112</integer>
				</dict>
				<key>files/page5-1007-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					KsaDmL9z83uBR5txAApUBw==
					</data>
					<key>Size</key>
					<integer>5272</integer>
				</dict>
				<key>files/page5-1008-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					TjuTSP3BW9efvoxc3MBBjw==
					</data>
					<key>Size</key>
					<integer>1311</integer>
				</dict>
				<key>files/page5-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					yFvPky+WSlcVvkGgDef/sQ==
					</data>
					<key>Size</key>
					<integer>37148</integer>
				</dict>
				<key>files/page5-1008-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					InfA8HBWXpi3otjUHlAx9w==
					</data>
					<key>Size</key>
					<integer>5214</integer>
				</dict>
				<key>files/page5-1009-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					XDhPkNDQej/irYKFqZMmvA==
					</data>
					<key>Size</key>
					<integer>1225</integer>
				</dict>
				<key>index.html</key>
				<dict>
					<key>Digest</key>
					<data>
					FMxzIaQh5na14WpjN8XNXA==
					</data>
					<key>Size</key>
					<integer>8045</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page5</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
