<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page0</key>
		<dict>
			<key>CreationDate</key>
			<date>2012-07-27T11:00:19Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>DEEA8466-848B-48CA-84CF-102E3E50A66D</string>
			<key>PageDigests</key>
			<dict>
				<key>files/page0-80cb39dbb6fd5266fc07b985ab18972bd4073676.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					pLyCXulSZDvA8IH87O89Jw==
					</data>
					<key>Size</key>
					<integer>76688</integer>
				</dict>
				<key>index.html</key>
				<dict>
					<key>Digest</key>
					<data>
					DsuJvm4hnKXw/fZdlJZceg==
					</data>
					<key>Size</key>
					<integer>3496</integer>
				</dict>
				<key>rw_common/version.txt</key>
				<dict>
					<key>Digest</key>
					<data>
					rXvcr76nRoDhHSUWKhRVBw==
					</data>
					<key>Size</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page0</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
