<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page1</key>
		<dict>
			<key>CreationDate</key>
			<date>2013-04-19T11:47:35Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>BFE805F6-415B-4C09-BD81-96CE7C93346F</string>
			<key>PageDigests</key>
			<dict>
				<key>files/59ef1303f9c901e5e866f8f5db5feebe-1.html</key>
				<dict>
					<key>Digest</key>
					<data>
					3clo/1n1epe1pTCc0Sgvuw==
					</data>
					<key>Size</key>
					<integer>5837</integer>
				</dict>
				<key>files/6c4c8656a75c3727d5fbfa110c00652b-2.html</key>
				<dict>
					<key>Digest</key>
					<data>
					iJrbiVD+9lMw8s2HPSpxfA==
					</data>
					<key>Size</key>
					<integer>19853</integer>
				</dict>
				<key>files/archive-apr-2013.html</key>
				<dict>
					<key>Digest</key>
					<data>
					IrMnxJYuVnB1/icwrHX6MA==
					</data>
					<key>Size</key>
					<integer>41657</integer>
				</dict>
				<key>files/archive-jul-2012.html</key>
				<dict>
					<key>Digest</key>
					<data>
					IXOgou/UZVRV/aXkvEI5Ig==
					</data>
					<key>Size</key>
					<integer>20634</integer>
				</dict>
				<key>files/archive-mar-2013.html</key>
				<dict>
					<key>Digest</key>
					<data>
					tuf+HF+cCoq/sVFMvCDEng==
					</data>
					<key>Size</key>
					<integer>60106</integer>
				</dict>
				<key>files/category-5b664e60.html</key>
				<dict>
					<key>Digest</key>
					<data>
					Oiox/5GsvrbV5SLIBUReGQ==
					</data>
					<key>Size</key>
					<integer>19969</integer>
				</dict>
				<key>files/category-java.html</key>
				<dict>
					<key>Digest</key>
					<data>
					S14NLQ7wjXXieOtMIbR5Mg==
					</data>
					<key>Size</key>
					<integer>29452</integer>
				</dict>
				<key>files/category-mac.html</key>
				<dict>
					<key>Digest</key>
					<data>
					zk9SSaAL7Wu6pf3y/mwkWQ==
					</data>
					<key>Size</key>
					<integer>17520</integer>
				</dict>
				<key>files/ddc255889fee991d44b87d49b2dfcf31-5.html</key>
				<dict>
					<key>Digest</key>
					<data>
					Z9QJxCAA9vk+snzVhncrEQ==
					</data>
					<key>Size</key>
					<integer>29321</integer>
				</dict>
				<key>files/dfa6003cfc053550965e2a72c11376e6-3.html</key>
				<dict>
					<key>Digest</key>
					<data>
					C0g6o9BxXoAAZxmY2nbnSQ==
					</data>
					<key>Size</key>
					<integer>59833</integer>
				</dict>
				<key>files/f6380bb319baeb14f88e4d01f083c2b6-4.html</key>
				<dict>
					<key>Digest</key>
					<data>
					JJZQuxdB818wlihAF9TMUg==
					</data>
					<key>Size</key>
					<integer>17390</integer>
				</dict>
				<key>files/feed.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					aPb++HANo/P7BZJQOf8FdQ==
					</data>
					<key>Size</key>
					<integer>107839</integer>
				</dict>
				<key>files/page1_blog_entry4-430d3d9f5ea69cc83e1fd8a08171b964.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					fBk11ymHgGt2cWr9MU1OFw==
					</data>
					<key>Size</key>
					<integer>52183</integer>
				</dict>
				<key>files/page1_blog_entry4-5b19bd231eadde62117fbc301e1770c6.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					xpO5I8poGNRaRSkmbWRMJw==
					</data>
					<key>Size</key>
					<integer>45462</integer>
				</dict>
				<key>files/page1_blog_entry4-a6ff1709978af8054c6c6affd85c45f1.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ZVPR0sWcjIbz8q1wvgi1Wg==
					</data>
					<key>Size</key>
					<integer>16510</integer>
				</dict>
				<key>files/page1_blog_entry4-aa8f8c051243a9c3b087ad25485274a8.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					or03uqmT+wkMnCih17SmVQ==
					</data>
					<key>Size</key>
					<integer>55790</integer>
				</dict>
				<key>files/page1_blog_entry4-b4cd43d5d8259b6937030648ea4824e2.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					akVX6pJ+NmZFz9m101zz4w==
					</data>
					<key>Size</key>
					<integer>69501</integer>
				</dict>
				<key>files/page1_blog_entry4-eb8c201fddf203ca88fb74e8af45b339.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					e6Ph3nigyz9FNIuv0LRjjA==
					</data>
					<key>Size</key>
					<integer>43686</integer>
				</dict>
				<key>index.html</key>
				<dict>
					<key>Digest</key>
					<data>
					MwR2HA8apnEyvBzOhYoaZg==
					</data>
					<key>Size</key>
					<integer>110998</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page1</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
