<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page8</key>
		<dict>
			<key>CreationDate</key>
			<date>2013-04-19T11:10:39Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>BFE805F6-415B-4C09-BD81-96CE7C93346F</string>
			<key>PageDigests</key>
			<dict>
				<key>index.html</key>
				<dict>
					<key>Digest</key>
					<data>
					fMTZkNiHZZfw5+Mcmo0ukw==
					</data>
					<key>Size</key>
					<integer>4976</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page8</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
